@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import 'variables';

@import './common/main';
@import './common/animation';

@import './components/bubble-btn';
@import './components/board';
@import './components/header';
@import './components/content';
@import './components/action';


