// Root
$font-size-root: 1rem;
$bot-zindex: 1000;

$white: #fff;

// Bubble Button
$bubble-btn-color: $white;

// Board
$board-bg: $white;
$board-radius: 8px;
$board-width: 376px;

// Header
$header-height: 50px;

// Content, Message Bubble
$avatar-size: 32px;
$bubble-triangle-size: 10px;
$bubble-time-bg: #222;
$bubble-time-color: $white;
$typing-indicator-size: 7px;

// Action
$action-height: 46px;
$action-line: #e6e6e6;
$action-input-bg: $white;
$action-disable-bg: #ccc;
$action-icon-color: #666;
