//root
$font-size-root: 16px;

//bot-bubble
$color-bot-bubble: blue;

$positon-top-bot-bubble: 0;
$positon-bottom-bot-bubble: 2em;
$positon-right-bot-bubble: 2em;
$positon-left-bot-bubble: 0;

$radius-bot-bubble: 50%;

$width-bot-bubble: 3em;
$height-bot-bubble: 3em;

//board
$positon-top-board: $positon-top-bot-bubble + $height-bot-bubble;
$positon-bottom-board: $positon-bottom-bot-bubble + $height-bot-bubble;
$positon-right-board: $positon-right-bot-bubble + $width-bot-bubble;
$positon-left-board: $positon-left-bot-bubble + $width-bot-bubble;

$board-radius: 1em;

$board-header-bg-color: #444A62;
$board-header-color: white;
$board-header-btn-bg-color: #444A62;
$board-header-btn-color: white;

$board-action-input-bg-color: #EDF1F4;
$board-action-btn-bg-color: #EDF1F4;

//message-bubble
$message-bubble-text-bg-color: #6B8CFF;
$message-bubble-text-color: white;
$message-bubble-btn-bg-color: #29BB5C;

$message-bubble-radius: 0.5rem;