.qkb-board-action {
  position: relative;
  display: flex;
  flex: none;
  height: $action-height;
  padding: 0.45rem 1.25rem 0.5rem;
  border-top: 1px solid $action-line;
}

.qkb-board-action--disabled {
  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    cursor: not-allowed;
  }
}

.qkb-board-action__wrapper {
  display: flex;
  width: 100%;
  background-color: $action-input-bg;
}

.qkb-board-action__msg-box {
  position: relative;
  flex-grow: 1;
  padding: 0 1rem 0 0;
}

.qkb-board-action__input {
  height: 100%;
  width: 100%;
  padding: 0;
  font-size: 0.875rem;
  border: 0;
  background-color: transparent;
  box-shadow: none;
  outline: 0;

  &[disabled="disabled"] {
    pointer-events: none;
  }
}

.qkb-board-action__disable-text {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $action-input-bg;
  font-size: 0.875rem;
}

.qkb-board-action__extra {
  display: flex;
  flex: none;
  justify-content: center;
}

.qkb-action-item {
  display: block;
  padding: 0;
  outline: 0;
  border: 0;
  line-height: 1;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
  opacity: .6;
  transition: opacity linear .1s;

  &:hover {
    opacity: 1;
  }
}

.qkb-action-icon {
  width: 16px;
  height: 16px;
  line-height: 1;
  fill: $action-icon-color;
  color: $action-icon-color;
  vertical-align: middle;
}

.qkb-board-aciton--typing {
  .qkb-action-item--send {
    opacity: 1;
  }
}
