.qkb-board-header {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: space-between;
  height: $header-height;
  padding: 5px 15px;
}

.qkb-board-header__title {
  font-weight: bold;
  font-size: 0.875rem;
}
