.qkb-board-action {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.5em;
    flex: 0 0 auto;
}

.qkb-board-action__input {
    border: hidden;
    outline: none;
    border-radius: 1em;
    flex-grow: 1;
    margin-right: 0.5em;
    background-color: $board-action-input-bg-color;
    padding: 0.8em;
}

.qkb-board-action__btn-send {
    border: hidden;
    outline: none;
    border-radius: 1em;
    padding: 0.8em 1.5em;
    background-color: $board-action-btn-bg-color;
}