.qkb-board-header {
    display: flex;
    height: 40px;
    background-color: $board-header-bg-color;
    color: $board-header-color;
    border-radius: $board-radius $board-radius 0 0;
    padding: 0 0.5em;
    flex: 0 0 auto;
}

.qkb-board-header__title {
    flex-grow: 1;
    align-self: center;
}

.qkb-board-header__btn-close {
    background-color: $board-header-btn-bg-color;
    color: $board-header-btn-color;
    outline: none;
    border-radius: 0 1em 0 0;
    border: hidden;
}