.qkb-board-message-bubble {
    display: flex;    
    flex-direction: column;
}

.qkb-board-message-bubble--right {
    align-items: flex-end;
}

.qkb-board-message-bubble__avatar {
    border-radius: 50%;
    object-fit: cover;
    width: 2em;
    height: 2em;
}

.qkb-board-message-bubble__text {
    max-width: 60%;
    word-wrap: break-word;
    border: 1px solid black;
    border-radius: $radius-message-bubble;
    padding: 0.3em 0.5em;
}

.qkb-board-message-bubble__btn {
    background-color: grey;
    color: white;
}